<div ng-include src="'views/navigation.html'"></div>
<div class="text-center well" ng-if="tracks.length > 0">
    <div class="row">
        <div class="col-md-3" ng-repeat="category in categories">
            <h4>{{category.label}}</h4>
            <chart data="category.data" type="chartType"></chart>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table" ng-if="tracks.length > 0">
        <thead>
        <tr>
            <th></th>
            <th ng-repeat="track in tracks" ng-style="{color: track.color}">{{track.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories">
            <td>{{category.label}}</td>
            <td ng-repeat="track in tracks">{{track[category.key]}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="setChartType('polarArea')"
                            ng-disabled="chartType == 'polarArea'">
                        <i class="glyphicon "></i>
                        Polar Area
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="setChartType('pie')" ng-disabled="chartType == 'pie'">
                        <i class="glyphicon "></i>
                        Pie Chart
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="setChartType('doughnut')"
                            ng-disabled="chartType == 'doughnut'">
                        <i class="glyphicon "></i>
                        Doughnut Chart
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#track-add-modal">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add Tracks
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#track-remove-modal"
                            ng-disabled="tracks.length < 1">
                        <i class="glyphicon glyphicon-minus"></i>
                        Remove Tracks
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<modal ng-id="'track-add-modal'" title="'Add Tracks'">
    <form role="form">
        <div class="form-group">
            <label for="query">Search for</label>
            <input type="text" class="form-control" id="query" ng-keydown="search(query)" ng-model="query">
        </div>
    </form>
    <div class="row" ng-repeat="track in searchResult">
        <div class="col-md-11 hide-overflow">
            {{track.title}}
        </div>
        <div class="col-md-1">
            <a href ng-if="!trackSelected(track)"
               ng-click="addChartData(track)">
                <i class="glyphicon glyphicon-unchecked"></i>
            </a>
            <a href ng-if="trackSelected(track)"
               ng-click="removeChartData(track)">
                <i class="glyphicon glyphicon-check"></i>
            </a>
        </div>
    </div>
</modal>
<modal ng-id="'track-remove-modal'" title="'Remove Tracks'">
    <div class="row" ng-repeat="track in tracks" ng-click="removeChartData(track)" >
        <div class="col-md-9 col-md-offset-1 hide-overflow">
            {{track.title}}
        </div>
        <div class="col-md-1">
            <a href ng-click="removeChartData(track)">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
    </div>
</modal>