<div ng-include src="'views/navigation.html'"></div>
<chart data="commentsData" type="'doughnut'"></chart>
<input type="text" ng-model="trackId">
<button ng-click="getChartData()">Add</button>
<table class="table" ng-if="tracks.length > 0">
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="track in tracks">{{track.title}}</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories">
            <td>{{category}}</td>
            <td ng-repeat="track in tracks">{{track[category]}}</td>
        </tr>
    </tbody>
</table>