$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
  background-image: url("../images/bg.png");
  padding-top: 70px;
}

.btn {
  outline: none;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar-brand {
  background: url(../images/JSound_Logo.png) no-repeat 50% 50%;
  background-size: 60px;
  width: 90px;
}