<table class="table table-hover">
    <thead>
    <tr>
        <th>Purchaser</th>
        <th>Date</th>
        <th>Article</th>
        <th>Price</th>
        <th ng-repeat="user in costShareUsers">{{user.firstName}} {{user.lastName}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="article in paginatedArticles">
        <td>{{getPurchaser(article.purchaserEntityId)}}</td>
        <td>{{getDateFromMilliseconds(article.purchaseDate)}}</td>
        <td>{{article.name}}</td>
        <td>{{article.value.toFixed(2)}} €</td>
        <td ng-repeat="user in costShareUsers">
            <span ng-show="isUser(article, user.entityId)" class="glyphicon glyphicon-ok"></span>
        </td>
        <td></td>
    </tr>
    </tbody>
    <tfoot class="table-no-border">
    <tr>
        <td>
            <select class="form-control plain-input"
                    ng-model="article.purchaserEntityId"
                    ng-options="user.entityId as (user.firstName + ' ' + user.lastName) for user in costShareUsers">
            </select>
        </td>
        <td>
            <input type="date" class="form-control plain-input" ng-model="article.purchaseDate">
        </td>
        <td>
            <input type="text" class="form-control plain-input" ng-model="article.name" placeholder="Enter Name">
        </td>
        <td>
            <input type="number" step="0.01" class="form-control plain-input" ng-model="article.value" ng-pattern="onlyNumbers"
                   placeholder="Enter Price">
        </td>
        <td ng-repeat="user in costShareUsers">
            <input type="checkbox" class="form-control plain-input" ng-click="addUser(user.entityId)">
        </td>
        <td>
            <input type="button" class="form-control" value="Add" ng-click="addArticle()">
        </td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td colspan="{{costShareUsers.length}}"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="{{users.length + 4}}">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Articles per page: {{articlesPerPage}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="setArticlesPerPage(5)">5</a></li>
                    <li><a href ng-click="setArticlesPerPage(10)">10</a></li>
                    <li><a href ng-click="setArticlesPerPage(15)">15</a></li>
                    <li><a href ng-click="setArticlesPerPage(20)">20</a></li>
                    <li><a href ng-click="setArticlesPerPage(25)">25</a></li>
                </ul>
            </div>
            <ul class="pagination paginationArticles" ng-show="pages > 1">
                <li ng-class="{disabled: 1 == page}"><a href ng-click="turnThePage(page - 1)">&laquo;</a></li>
                <li ng-class="{active: 1 == page}"><a href ng-click="turnThePage(1)">1</a></li>
                <li ng-show="paginationLeftDots" class="disabled"><a>...</a></li>
                <li ng-repeat="i in pagination" ng-class="{active: i == page}"><a href ng-click="turnThePage(i)">{{i}}</a></li>
                <li ng-show="paginationRightDots" class="disabled"><a>...</a></li>
                <li ng-class="{active: pages == page}" ng-show="pages > 1"><a href ng-click="turnThePage(pages)">{{pages}}</a></li>
                <li ng-class="{disabled: pages == page}"><a href ng-click="turnThePage(page + 1)">&raquo;</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="4" class="contentRight">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Calculation: {{calculationMethod}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="switchCalculationMethod('Standard')">Standard</a></li>
                    <li><a href ng-click="switchCalculationMethod('Offsetted')">Offsetted</a></li>
                    <li><a href ng-click="switchCalculationMethod('Fully Offsetted')">Fully Offsetted</a></li>
                </ul>
            </div>
        </td>
        <td ng-repeat="user in costShareUsers" class="topBorderCell contentMiddle">
            <strong ng-if="calculationMethod == 'Standard'">{{getDebts(user.entityId).overall.toFixed(2)}} €</strong>
            <strong ng-if="calculationMethod == 'Offsetted'">{{getOffsettedDebts(user.entityId).overall.toFixed(2)}} €</strong>
            <strong ng-if="calculationMethod == 'Fully Offsetted'">{{user.fullyOffsettedDebtsOverall}} €</strong>
        </td>
        <td></td>
    </tr>
    <tr ng-repeat="user in costShareUsers">
        <td colspan="3"></td>
        <td>
            <em>To {{user.firstName}} {{user.lastName}}:</em>
        </td>
        <td ng-repeat="u in costShareUsers">
            <span ng-if="getDebts(u.entityId)[user.entityId] && calculationMethod == 'Standard'">{{getDebts(u.entityId)[user.entityId].toFixed(2)}} €</span>
            <span ng-if="getOffsettedDebts(u.entityId)[user.entityId] && calculationMethod == 'Offsetted'">{{getOffsettedDebts(u.entityId)[user.entityId].toFixed(2)}} €</span>
            <span ng-if="getFullyOffsettedDebts(u.entityId)[user.entityId] && calculationMethod == 'Fully Offsetted'">{{getFullyOffsettedDebts(u.entityId)[user.entityId].toFixed(2)}} €</span>
        </td>
        <td></td>
    </tr>
    </tfoot>
</table>