<table class="table table-hover"
       ng-init="
        articlePage = 1;
        articlesPerPage = 5;
        articleOrderReverse = false;
        articleOrderPredicate = 'purchaserEntityId';
        calculationType = 'Standard'"
        >
    <thead>
    <tr>
        <th class="click"
            ng-click="articleOrderPredicate = 'purchaserEntityId'; articleOrderReverse = !articleOrderReverse">
            Purchaser
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': 'articleOrderReverse', 'glyphicon-chevron-down': !articleOrderReverse}"
                  ng-if="articleOrderPredicate == 'purchaserEntityId'"></span>
        </th>
        <th class="click"
            ng-click="articleOrderPredicate = 'purchaseDate'; articleOrderReverse = !articleOrderReverse">
            Date
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': 'articleOrderReverse', 'glyphicon-chevron-down': !articleOrderReverse}"
                  ng-if="articleOrderPredicate == 'purchaseDate'"></span>
        </th>
        <th class="click"
            ng-click="articleOrderPredicate = 'name'; articleOrderReverse = !articleOrderReverse">
            Article
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': 'articleOrderReverse', 'glyphicon-chevron-down': !articleOrderReverse}"
                  ng-if="articleOrderPredicate == 'name'"></span>
        </th>
        <th class="click"
            ng-click="articleOrderPredicate = 'value'; articleOrderReverse = !articleOrderReverse">
            Price
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': 'articleOrderReverse', 'glyphicon-chevron-down': !articleOrderReverse}"
                  ng-if="articleOrderPredicate == 'value'"></span>
        </th>
        <th ng-repeat="user in costShareUsers">{{user.firstName}} {{user.lastName}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="((articlesPerPage * (articlePage - 1)) <= $index) && ($index < (articlesPerPage * articlePage))"
        ng-repeat="article in articles | orderBy:articleOrderPredicate:articleOrderReverse"
        ng-class="{success: (article.entityId == articleToEdit.entityId)}">
        <td>
            <span ng-if="articleToEdit.entityId != article.entityId">{{getPurchaser(article.purchaserEntityId)}}</span>
            <span ng-if="articleToEdit.entityId == article.entityId">
            <select class="form-control plain-input"
                    ng-model="articleToEdit.purchaserEntityId"
                    ng-init="articleToEdit.purchaserEntityId = article.purchaserEntityId"
                    ng-options="user.entityId as (user.firstName + ' ' + user.lastName) for user in costShareUsers">
            </select>
            </span>
        </td>
        <td>
            <span ng-if="articleToEdit.entityId != article.entityId">{{article.purchaseDate | date: 'dd/MM/yyyy'}}</span>
            <span ng-if="articleToEdit.entityId == article.entityId">
                <input type="date" class="form-control plain-input"
                       ng-init="articleToEdit.purchaseDate = getDateFromMilliseconds(article.purchaseDate)"
                       ng-model="articleToEdit.purchaseDate">
            </span>
        </td>
        <td>
            <span ng-if="articleToEdit.entityId != article.entityId">{{article.name}}</span>
            <span ng-if="articleToEdit.entityId == article.entityId">
                <input class="form-control plain-input"
                       placeholder="Enter Name"
                       type="text"
                       ng-init="articleToEdit.name = article.name"
                       ng-model="articleToEdit.name">
            </span>
        </td>
        <td>
            <span ng-if="articleToEdit.entityId != article.entityId">{{article.value.toFixed(2)}} €</span>
            <span ng-if="articleToEdit.entityId == article.entityId">
                <input class="form-control plain-input"
                       placeholder="Enter Price"
                       step="0.01" type="number"
                       ng-init="articleToEdit.value = article.value"
                       ng-model="articleToEdit.value"
                       ng-pattern="currencyPattern">
            </span>
        </td>
        <td ng-repeat="user in costShareUsers">
            <span ng-if="articleToEdit.entityId != article.entityId">
                <i ng-show="isUser(article, user.entityId)" class="glyphicon glyphicon-ok"></i>
            </span>
            <span ng-if="articleToEdit.entityId == article.entityId">
            <input class="form-control plain-input"
                   type="checkbox"
                   ng-init="articleToEdit.userEntityIdSelection[user.entityId] = isUser(article, user.entityId)"
                   ng-model="articleToEdit.userEntityIdSelection[user.entityId]">
            </span>
        </td>
        <td>
            <span ng-if="articleToEdit.entityId != article.entityId">
                <i class="glyphicon glyphicon-edit click" ng-click="articleToEdit.entityId = article.entityId"></i>
            </span>
            <span class="pull-right" ng-if="articleToEdit.entityId != article.entityId">
                <i class="glyphicon glyphicon-remove click" ng-click="deleteArticle(article.entityId, $index)"></i>
            </span>
            <span class="pull-right" ng-if="articleToEdit.entityId == article.entityId">
                <i class="glyphicon glyphicon-ban-circle click" ng-click="articleToEdit.entityId = null"></i>
            </span>
            <span ng-if="articleToEdit.entityId == article.entityId">
                <i class="glyphicon glyphicon-ok click" ng-click="updateArticle()"></i>
            </span>
        </td>
    </tr>
    </tbody>
    <tfoot class="table-no-border">
    <tr>
        <td>
            <select class="form-control plain-input"
                    ng-model="articleToAdd.purchaserEntityId"
                    ng-options="user.entityId as (user.firstName + ' ' + user.lastName) for user in costShareUsers">
            </select>
        </td>
        <td>
            <input type="date" class="form-control plain-input" ng-model="articleToAdd.purchaseDate">
        </td>
        <td>
            <input type="text" class="form-control plain-input" ng-model="articleToAdd.name" placeholder="Enter Name">
        </td>
        <td>
            <input type="number" step="0.01" class="form-control plain-input" ng-model="articleToAdd.value"
                   ng-pattern="currencyPattern"
                   placeholder="Enter Price">
        </td>
        <td ng-repeat="user in costShareUsers">
            <input type="checkbox" class="form-control plain-input"
                   ng-model="articleToAdd.userEntityIdSelection[user.entityId]">
        </td>
        <td>
            <input type="button" class="form-control" value="Add" ng-click="addArticle()">
        </td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td colspan="{{costShareUsers.length}}"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="{{users.length + 4}}">
            <label for="article-per-page">Articles per page:</label>
            <select id="article-per-page" class="form-inline plain-input" ng-model="articlesPerPage">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="{{5 + costShareUsers.length}}">
            <ul class="pagination">
                <li ng-class="{disabled: articlePage <= 1}">
                    <a class="click" ng-click="articlePage = Math.max(articlePage - 1, 1)">&laquo;</a>
                </li>
                <li ng-class="{active: articlePage == i}"
                    ng-repeat="i in nTimes(articles.length / articlesPerPage)">
                    <a ng-click="$parent.articlePage = i" class="click">{{i}}</a>
                </li>
                <li ng-class="{disabled: articlePage * articlesPerPage >= articles.length}">
                    <a class="click" ng-click="articlePage = Math.min(articlePage + 1, Math.ceil(articles.length / articlesPerPage))">&raquo;</a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <select class="form-inline plain-input" ng-model="calculationType">
                <option>Standard</option>
                <option>Balanced</option>
            </select>
        </td>
        <td ng-repeat="user in costShareUsers" class="topBorderCell contentMiddle">
            <strong>{{getDebts(user.entityId, calculationType).overall.toFixed(2)}} €</strong>
        </td>
        <td></td>
    </tr>
    <tr ng-repeat="user in costShareUsers">
        <td colspan="3"></td>
        <td>
            <em>To {{user.firstName}} {{user.lastName}}:</em>
        </td>
        <td ng-repeat="toUser in costShareUsers">
            <span ng-if="getDebts(toUser.entityId, calculationType)[user.entityId]">{{getDebts(toUser.entityId, calculationType)[user.entityId].toFixed(2)}} €</span>
        </td>
        <td></td>
    </tr>
    </tfoot>
</table>