<table class="table table-striped">
    <thead>
        <tr class="noBorderRow">
            <th>Purchaser</th>
            <th>Date</th>
            <th>Article</th>
            <th>Price</th>
            <th colspan="{{articles.length}}">Who Pays?</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th style="font-weight:normal" ng-repeat="consumer in users">{{consumer.firstName}}<br />{{consumer.lastName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="article in paginatedArticles">
            <td>{{getPurchaser(article.purchaser)}}</td>
            <td>{{article.purchaseDate}}</td>
            <td>{{article.name}}</td>
            <td>{{article.value}} €</td>
            <td ng-repeat="user in users" ng-class="{success: isDefrayed(article, user)}">
                <span ng-show="isConsumer(article, user.id)" class="glyphicon glyphicon-ok"></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{users.length + 4}}">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Articles per page: {{articlesPerPage}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="setArticlesPerPage(5)">5</a></li>
                        <li><a href ng-click="setArticlesPerPage(10)">10</a></li>
                        <li><a href ng-click="setArticlesPerPage(15)">15</a></li>
                        <li><a href ng-click="setArticlesPerPage(20)">20</a></li>
                        <li><a href ng-click="setArticlesPerPage(25)">25</a></li>
                    </ul>
                </div>
                <ul class="pagination paginationArticles" ng-show="pages > 1">
                    <li ng-class="{disabled: 1 == page}"><a href ng-click="turnThePage(page - 1)">&laquo;</a></li>
                    <li ng-class="{active: 1 == page}"><a href ng-click="turnThePage(1)">1</a></li>
                    <li ng-show="paginationLeftDots" class="disabled"><a>...</a></li>
                    <li ng-repeat="i in pagination" ng-class="{active: i == page}"><a href ng-click="turnThePage(i)">{{i}}</a></li>
                    <li ng-show="paginationRightDots" class="disabled"><a>...</a></li>
                    <li ng-class="{active: pages == page}" ng-show="pages > 1"><a href ng-click="turnThePage(pages)">{{pages}}</a></li>
                    <li ng-class="{disabled: pages == page}"><a href ng-click="turnThePage(page + 1)">&raquo;</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="{{users.length}}"></td>
        </tr>
        <tr>
            <td colspan="4" class="contentRight">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Calculation: {{calculationMethod}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="switchCalculationMethod('Standard')">Standard</a></li>
                        <li><a href ng-click="switchCalculationMethod('Offsetted')">Offsetted</a></li>
                        <li><a href ng-click="switchCalculationMethod('Fully Offsetted')">Fully Offsetted</a></li>
                    </ul>
                </div>
            </td>
            <td ng-repeat="user in users" class="topBorderCell contentMiddle">
                <strong ng-if="calculationMethod == 'Standard'">{{user.debtsOverall}} €</strong>
                <strong ng-if="calculationMethod == 'Offsetted'">{{user.offsettedDebtsOverall}} €</strong>
                <strong ng-if="calculationMethod == 'Fully Offsetted'">{{user.fullyOffsettedDebtsOverall}} €</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="{{users.length}}"  class="topBorderCell"></td>
        </tr>
        <tr ng-repeat="debtee in users">
            <td colspan="4" class="deptee"><em>To {{debtee.firstName}} {{debtee.lastName}}:</em></td>
            <td ng-if="calculationMethod == 'Standard'" ng-repeat="debtor in users">{{debtor.debts[debtee.id]}} €</td>
            <td ng-if="calculationMethod == 'Offsetted'" ng-repeat="debtor in users">{{debtor.offsettedDebts[debtee.id]}} €</td>
            <td ng-if="calculationMethod == 'Fully Offsetted'" ng-repeat="debtor in users">{{debtor.fullyOffsettedDebts[debtee.id]}} €</td>
        </tr>
    </tfoot>
</table>