$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

* {
  outline: none;
}

body {
  background: url("../images/wood.png") fixed;
  margin-bottom: 30px;
}

header {
  height: 200px;
  width: 100%;
  margin: 50px 0;
  background: url("../images/pattern.png") fixed, url("../images/header.jpg") fixed;
  box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.5);
}

nav {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.well {
  overflow: auto;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.2),
              0px 8px 8px rgba(0, 0, 0, 0.2),
              -8px 0px 8px rgba(0, 0, 0, 0.2),
              8px 0px 8px rgba(0, 0, 0, 0.2);
  background-image: url("../images/paper.png");
}

.navbar{
  background-image: url("../images/paper.png") !important;
}

.plain-input, .plain-input:focus {
  background: none;
  box-shadow: none;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

.table-no-border {
  @extend .no-border;
  tr, td {
    @extend .no-border;
  }
}

.no-hover, .no-hover * {
  background: none !important;
}

input.ng-invalid {
  color: red;
}

.paginationArticles {
  margin: 0px !important;
  vertical-align: top !important;
}

.contentRight{
  text-align: right;
}