$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

* {
  outline: none;
}

header {
  height: 200px;
  width: 100%;
  margin: 50px 0;
  background: url("../images/congruent_pentagon.png") repeat;
  animation: background-animation 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: inset 0px -8px 8px rgba(80, 80, 80, 0.2), inset 0 8px 8px rgba(80, 80, 80, 0.2);
}

nav {
  box-shadow: 0 8px 8px rgba(80, 80, 80, 0.2);
}

@keyframes background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 600px 600px;
  }
}

.plain-input, .plain-input:focus {
  background: none;
  box-shadow: none;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

.table-no-border {
  @extend .no-border;
  tr, td {
    @extend .no-border;
  }
}

.no-hover, .no-hover * {
  background: none !important;
}

.ng-invalid {
  color: red;
}