$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

* {
  outline: none;
}

header {
  height: 200px;
  width: 100%;
  margin: 50px 0;
  background: url("../images/pattern.png"), url("../images/header.jpg");
  background-size: auto, cover;
  background-position: inherit, center;
  box-shadow: inset 0px -8px 8px rgba(0,0,0,0.5), inset 0 8px 8px rgba(0,0,0,0.5);
}

.noBorderRow > th, td{
  border:none !important;
}

.noBorderRow + tr > th, td{
  border-top:none !important;
}

tr + .noBorderRow > th, td{
  border-bottom:none !important;
}

.topBorderCell {
  border-top: 2px solid #dddddd !important;
}

.deptee {
  text-align: right;
}

.contentRight {
  text-align: right;
}

.contentMiddle {
  vertical-align: middle !important;
}

body{
  background: url("../images/wood.png") repeat;
  margin-bottom: 30px;
}

.content{
  background-color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
}